<div class="shadow p-3 rounded-md border border-gray-50">
    <li class="list-none py-2.5 px-3 cursor-pointer hover:bg-indigo-600 text-black hover:text-white rounded">
        <a href="/admin-dashboard" class="font-medium capitalize">projects</a>
    </li>
    <li class="list-none py-2.5 px-3 cursor-pointer hover:bg-indigo-600 text-black hover:text-white rounded">
        <a href="" class="font-medium capitalize">users</a>
    </li>
    <li class="list-none py-2.5 px-3 cursor-pointer hover:bg-indigo-600 text-black hover:text-white rounded">
        <a href="/admin-logout" class="font-medium capitalize">logout</a>
    </li>