<!DOCTYPE html>
<html lang="en">
<%- include('components/head.ejs')  %> 
<body>
    <%- include('components/nav.ejs')  %> 
    <%- include('components/hero.ejs') %> 
    <div class="max-w-screen-lg mx-auto my-10 px-5">
        <h1 class="heading">all projects</h1>
        <div class="flex flex-wrap -mx-5">
            <div class="w-full sm:w-6/12 md:w-4/12 lg:w-3/12 p-5">
                <div>
                    <div class="w-full h-[150px] overflow-hidden relative">
                        <img src="./assets/images/main-banner.jpg" class="w-full h-full object-cover rounded" alt="">
                        <span class="absolute top-4 right-4 bg-orange-600 rounded text-xs px-3 py-1 text-white font-medium capitalize">funded</span>
                    </div>
                    <a href="" class="text-base font-medium text-gray-800 leading-[21px] mt-3 block">
                        Fundraising for children and refugees from Donbass
                      </a>
                      <span class="block mt-2 capitalize text-gray-500 text-sm font-medium">medical</span>
                      <div class="flex justify-between mt-2">
                        <span class="font-medium text-indigo-700">$4500.00</span>
                        <span class="font-medium text-gray-700">$56666.00</span>
                      </div>
                </div>
            </div>
            <div class="w-full sm:w-6/12 md:w-4/12 lg:w-3/12 p-5">
                <div>
                    <div class="w-full h-[150px] overflow-hidden relative">
                        <img src="./assets/images/admin-image.jpg" class="w-full h-full object-cover rounded" alt="">
                        <span class="absolute top-4 right-4 bg-indigo-600 rounded text-xs px-3 py-1 text-white font-medium capitalize">running</span>
                    </div>
                    <a href="" class="text-base font-medium text-gray-800 leading-[21px] mt-3 block">
                        Fundraising for children and refugees from Donbass
                      </a>
                      <span class="block mt-2 capitalize text-gray-500 text-sm font-medium">medical</span>
                      <div class="flex justify-between mt-2">
                        <span class="font-medium text-indigo-700">$2300.00</span>
                        <span class="font-medium text-gray-700">$60000.00</span>
                      </div>
                </div>
            </div>
            <div class="w-full sm:w-6/12 md:w-4/12 lg:w-3/12 p-5">
                <div>
                    <div class="w-full h-[150px] overflow-hidden relative">
                        <img src="./assets/images/1.jpg" class="w-full h-full object-cover rounded" alt="">
                        <span class="absolute top-4 right-4 bg-orange-600 rounded text-xs px-3 py-1 text-white font-medium capitalize">funded</span>
                    </div>
                    <a href="" class="text-base font-medium text-gray-800 leading-[21px] mt-3 block">
                        Fundraising for children and refugees from Donbass
                      </a>
                      <span class="block mt-2 capitalize text-gray-500 text-sm font-medium">medical</span>
                      <div class="flex justify-between mt-2">
                        <span class="font-medium text-indigo-700">$54200.00</span>
                        <span class="font-medium text-gray-700">$120000.00</span>
                      </div>
                </div>
            </div>
            <div class="w-full sm:w-6/12 md:w-4/12 lg:w-3/12 p-5">
                <div>
                    <div class="w-full h-[150px] overflow-hidden relative">
                        <img src="./assets/images/2.jpeg" class="w-full h-full object-cover rounded" alt="">
                        <span class="absolute top-4 right-4 bg-indigo-600 rounded text-xs px-3 py-1 text-white font-medium capitalize">running</span>
                    </div>
                    <a href="" class="text-base font-medium text-gray-800 leading-[21px] mt-3 block">
                        Fundraising for children and refugees from Donbass
                      </a>
                      <span class="block mt-2 capitalize text-gray-500 text-sm font-medium">medical</span>
                      <div class="flex justify-between mt-2">
                        <span class="font-medium text-indigo-700">$4500.00</span>
                        <span class="font-medium text-gray-700">$56666.00</span>
                      </div>
                </div>
            </div>
            <div class="w-full sm:w-6/12 md:w-4/12 lg:w-3/12 p-5">
                <div>
                    <div class="w-full h-[150px] overflow-hidden relative">
                        <img src="./assets/images/3.jpeg" class="w-full h-full object-cover rounded" alt="">
                        <span class="absolute top-4 right-4 bg-orange-600 rounded text-xs px-3 py-1 text-white font-medium capitalize">funded</span>
                    </div>
                    <a href="" class="text-base font-medium text-gray-800 leading-[21px] mt-3 block">
                        Fundraising for children and refugees from Donbass
                      </a>
                      <span class="block mt-2 capitalize text-gray-500 text-sm font-medium">medical</span>
                      <div class="flex justify-between mt-2">
                        <span class="font-medium text-indigo-700">$4500.00</span>
                        <span class="font-medium text-gray-700">$56666.00</span>
                      </div>
                </div>
            </div>
            <div class="w-full sm:w-6/12 md:w-4/12 lg:w-3/12 p-5">
                <div>
                    <div class="w-full h-[150px] overflow-hidden relative">
                        <img src="./assets/images/4.jpg" class="w-full h-full object-cover rounded" alt="">
                        <span class="absolute top-4 right-4 bg-indigo-600 rounded text-xs px-3 py-1 text-white font-medium capitalize">running</span>
                    </div>
                    <a href="" class="text-base font-medium text-gray-800 leading-[21px] mt-3 block">
                        Fundraising for children and refugees from Donbass
                      </a>
                      <span class="block mt-2 capitalize text-gray-500 text-sm font-medium">medical</span>
                      <div class="flex justify-between mt-2">
                        <span class="font-medium text-indigo-700">$4500.00</span>
                        <span class="font-medium text-gray-700">$56666.00</span>
                      </div>
                </div>
            </div>
            <div class="w-full sm:w-6/12 md:w-4/12 lg:w-3/12 p-5">
                <div>
                    <div class="w-full h-[150px] overflow-hidden relative">
                        <img src="./assets/images/5.jpg" class="w-full h-full object-cover rounded" alt="">
                        <span class="absolute top-4 right-4 bg-orange-600 rounded text-xs px-3 py-1 text-white font-medium capitalize">funded</span>
                    </div>
                    <a href="" class="text-base font-medium text-gray-800 leading-[21px] mt-3 block">
                        Fundraising for children and refugees from Donbass
                      </a>
                      <span class="block mt-2 capitalize text-gray-500 text-sm font-medium">medical</span>
                      <div class="flex justify-between mt-2">
                        <span class="font-medium text-indigo-700">$76540.00</span>
                        <span class="font-medium text-gray-700">399999.00</span>
                      </div>
                </div>
            </div>
            <div class="w-full sm:w-6/12 md:w-4/12 lg:w-3/12 p-5">
                <div>
                    <div class="w-full h-[150px] overflow-hidden relative">
                        <img src="./assets/images/6.jpg" class="w-full h-full object-cover rounded" alt="">
                        <span class="absolute top-4 right-4 bg-orange-600 rounded text-xs px-3 py-1 text-white font-medium capitalize">funded</span>
                    </div>
                    <a href="" class="text-base font-medium text-gray-800 leading-[21px] mt-3 block">
                        Fundraising for children and refugees from Donbass
                      </a>
                      <span class="block mt-2 capitalize text-gray-500 text-sm font-medium">medical</span>
                      <div class="flex justify-between mt-2">
                        <span class="font-medium text-indigo-700">$4500.00</span>
                        <span class="font-medium text-gray-700">$56666.00</span>
                      </div>
                </div>
            </div>
            <div class="w-full sm:w-6/12 md:w-4/12 lg:w-3/12 p-5">
                <div>
                    <div class="w-full h-[150px] overflow-hidden relative">
                        <img src="./assets/images/7.jpg" class="w-full h-full object-cover rounded" alt="">
                        <span class="absolute top-4 right-4 bg-indigo-600 rounded text-xs px-3 py-1 text-white font-medium capitalize">running</span>
                    </div>
                    <a href="" class="text-base font-medium text-gray-800 leading-[21px] mt-3 block">
                        Fundraising for children and refugees from Donbass
                      </a>
                      <span class="block mt-2 capitalize text-gray-500 text-sm font-medium">medical</span>
                      <div class="flex justify-between mt-2">
                        <span class="font-medium text-indigo-700">$4500.00</span>
                        <span class="font-medium text-gray-700">$56666.00</span>
                      </div>
                </div>
            </div>
            <div class="w-full sm:w-6/12 md:w-4/12 lg:w-3/12 p-5">
                <div>
                    <div class="w-full h-[150px] overflow-hidden relative">
                        <img src="./assets/images/8.jpg" class="w-full h-full object-cover rounded" alt="">
                        <span class="absolute top-4 right-4 bg-orange-600 rounded text-xs px-3 py-1 text-white font-medium capitalize">funded</span>
                    </div>
                    <a href="" class="text-base font-medium text-gray-800 leading-[21px] mt-3 block">
                        Fundraising for children and refugees from Donbass
                      </a>
                      <span class="block mt-2 capitalize text-gray-500 text-sm font-medium">medical</span>
                      <div class="flex justify-between mt-2">
                        <span class="font-medium text-indigo-700">$4500.00</span>
                        <span class="font-medium text-gray-700">$56666.00</span>
                      </div>
                </div>
            </div>
            <div class="w-full sm:w-6/12 md:w-4/12 lg:w-3/12 p-5">
                <div>
                    <div class="w-full h-[150px] overflow-hidden relative">
                        <img src="./assets/images/10.jpg" class="w-full h-full object-cover rounded" alt="">
                        <span class="absolute top-4 right-4 bg-indigo-600 rounded text-xs px-3 py-1 text-white font-medium capitalize">running</span>
                    </div>
                    <a href="" class="text-base font-medium text-gray-800 leading-[21px] mt-3 block">
                        Fundraising for children and refugees from Donbass
                      </a>
                      <span class="block mt-2 capitalize text-gray-500 text-sm font-medium">medical</span>
                      <div class="flex justify-between mt-2">
                        <span class="font-medium text-indigo-700">$4500.00</span>
                        <span class="font-medium text-gray-700">$56666.00</span>
                      </div>
                </div>
            </div>
            <div class="w-full sm:w-6/12 md:w-4/12 lg:w-3/12 p-5">
                <div>
                    <div class="w-full h-[150px] overflow-hidden relative">
                        <img src="./assets/images/12.jpg" class="w-full h-full object-cover rounded" alt="">
                        <span class="absolute top-4 right-4 bg-orange-600 rounded text-xs px-3 py-1 text-white font-medium capitalize">funded</span>
                    </div>
                    <a href="" class="text-base font-medium text-gray-800 leading-[21px] mt-3 block">
                        Fundraising for children and refugees from Donbass
                      </a>
                      <span class="block mt-2 capitalize text-gray-500 text-sm font-medium">medical</span>
                      <div class="flex justify-between mt-2">
                        <span class="font-medium text-indigo-700">$4500.00</span>
                        <span class="font-medium text-gray-700">$56666.00</span>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/app.js"></script>
</body>
</html>