<!DOCTYPE html>
<html lang="en">
<%- include('../components/head.ejs')  %> 
<body class="bg-gray-50">
    <%- include('../components/nav.ejs') %> 
    <div class="tail-container mt-10">
      <div class="flex flex-wrap">
      <div class=" w-full lg:w-3/12">
        <%- include('../components/sidebar.ejs')  %> 
      </div>
      <div class="col-xlg-9 col-lg-9"></div>
      </div>
      <!-- close row -->
    </div>
    <!-- close container -->
</body>
</html>